
.Heading h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: normal;    
    color: #3e3863;
    font-weight: 700;
    margin: .5em 0em;
    font-size: 2.5em;
    width: fit-content;
}
