
.Schedules{
    display: flex;
}
.Schedules button{
    position: fixed;
    right:    5vw;
    bottom:   5vh;
}

.Schedules button, input[type="submit"], input[type="reset"] {
	background: #E1AFD1;
	color: inherit;
    border:none;
	border-radius: 1em;
	padding: 1em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family:  "Montserrat", sans-serif;
    color: #3e3863;
    font-weight: 600;
}