.Small{
    background: #E1AFD1;
    color: inherit;
    border:none;
    border-radius: 1em;
    padding: 1em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family:  "Montserrat", sans-serif;
    color: #3e3863;
    font-weight: 600;
    text-decoration: none;
}

.Small:hover{
    box-shadow:  3px 5px 4px #BB8493, -2px -1px 4px #DBAFA0; 
}